<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726705953843-877l8qthn7mqm0a9skbqol3tap4bodiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726705953843-877l8qthn7mqm0a9skbqol3tap4bodiu</string>
	<key>API_KEY</key>
	<string>AIzaSyCd3UZ6o8iCH-juBOXZyXsR_Hd8prmR92Y</string>
	<key>GCM_SENDER_ID</key>
	<string>726705953843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frindedChat</string>
	<key>PROJECT_ID</key>
	<string>friendedchat</string>
	<key>STORAGE_BUCKET</key>
	<string>friendedchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726705953843:ios:c34be5cf8a141b6cf7d746</string>
</dict>
</plist>